body {
  background-image: url("mountains-big-long-range-covered-in-fog-x.jpg");
  max-width: 100%
}

a {
  color: white;
  text-decoration: none;
}

ul {
  position: relative;
  top: 72px;
}

li {
  border: 4px solid black;
  border-radius: 8px;
  display: table;
  margin: 0 0 8px 0;
  background-color: black;
  color: white;
  font-family: "Oswald"; sans-serif;
}

.menuLeft {
  top: 0px;
  left: -250px;
  height: 100%;
  position: fixed;
  width: 250px;
  background-color: #7CB342;
}

.topBar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #7CB342;
  display: block;
  height: 78px;
  width: 100%
}

.toggleOn {
  position: fixed;
  top: 8px;
  border: 4px solid black;
  border-radius: 10px;
  display: inline;
  background-color: black;
  color: white;
  font-family: "Oswald"; sans-serif;
  font-size: 36px;
}

.toggleOff {
  position: relative;
  top: 8px;
  left: 8px;
  border: 4px solid black;
  border-radius: 10px;
  display: inline;
  background-color: black;
  color: white;
  font-family: "Oswald"; sans-serif;
  font-size: 36px;
}
